* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 1vw;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgb(24,24,32);
    background: linear-gradient(144deg, rgba(24,24,32,1) 24%, rgba(29,29,36,1) 37%, rgba(51,52,55,0.9150035014005602) 100%, rgba(111,111,125,1) 100%, rgba(203,208,209,1) 100%);
}

div.sidenav a {
    color: #ccc;
    font-size: 1rem;
    transition: 0.3s;
    display: block;
}

div.sidenav a#btn-close-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    margin-left: 1vw;
    z-index: 1;
}

div.sidenav-options {
    display: flex !important;
    justify-content: center;
}

div.sidenav-options ul li {
    display: block;
}

i#btn-open-sidenav {
    position: absolute;
    top: 2.5vw;
    right: 2vw;
    font-size: 2rem;
    color: #fff;
    display: none;
}

i#open-sidenav:hover {
    cursor: pointer;
}

a#btn-close-sidenav {
    position: absolute;
    top: 0;
    left: 1vw;
    font-size: 5rem;
}

div.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #000;
}

div.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(24,42,45,.59);
}

div.header #search-box {
    position: absolute;
    justify-self: flex-start;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    visibility: hidden;
    border: 0;
    background: #1a1c1b;
    opacity: 0.5;
    font-size: 2em;
    padding: 20px;
    caret-color: #fff;
    color: #fff;
    transition: all .5s;
    z-index: 3;
}

div.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.header .logo img {
    margin-top: 10px;
    max-width: 250px;
    max-height: 50px;
    display: inline-block;
}

div.signup-login-buttons {
    position: absolute;
    right: 0;
    margin-right: 5vw;
}

div.signup-login-buttons li {
    list-style-type: none;
    display: inline-block;
    background: #b7b7b7;
}

div.signup-login-buttons button + li {
    background: transparent;
}

div.signup-login-buttons button {
    color: #fff;
    font-weight: bolder;
    background: transparent;
    border: 0;
    padding: 1vw;
}

div.signup-login-buttons button:hover {
    background: #24ABA7;
}

div.user-profile-mobile {
    display: flex;
    top: 0;
    right: 0;
}

div.account-info {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    flex-direction: column;
    margin-top: 0.5vw;
}

div.account-info i, div.myaccount-info i, div.editaccount-modal i {
    font-size: 2.5em;
    border-radius: 1.25em;
    background-color: #4287f5;
    padding: 0.2em;
    color: #000;
}

div.account-info i:hover {
    cursor: pointer;
}

div.account-info p {
    font-size: 2em;
    margin-right: 1vw;
    color: #ddd;
}

div.user-profile {
    position: absolute;
    top: 10vw;
    right: 3vw;
    background-color: #fff;
    border-radius: 2px;
}

div.user-profile a {
    text-decoration: none;
    color: #515151;
}

div.user-profile ul :last-child a {
    color: #ff0000;
}

div.user-profile li {
    list-style-type: none;
    padding: 0.5em;
    text-align: center;
}

div.user-profile li:hover {
    background-color:  #b5aeae !important;
}

div.header #lupa-icon {
    justify-self: flex-start;
    position: absolute;
    left: 0;
    margin-left: 2em;
    max-width: 50px;
    max-height: 50px;
    border-radius: 20px 20px;
}

div.header #lupa-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

div.header button#button-search {
    position: absolute;
    right: 0;
    top: 1.5vw;
    margin-right: 1vw;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.5em;
    visibility: hidden;
    z-index: 3;
}

div.header button#button-search:hover {
    cursor: pointer;
}

div.header nav li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bolder;
    min-width: 5em;
    min-height: 2em;
    text-align: center;
}

div.header li:hover {
    background: #211f1f;
}

div.header nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 2em;
}

nav ul li + li {
    margin-left: 10px;
}

div.modal-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}

div.myaccount-modal, div.editaccount-modal, 
div.confirmation-modal, div.edit-specific-fields-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: none;
}

div.myaccount-info, div#confirm-message {
    position: relative;
    background: rgb(24,24,32);
    background: linear-gradient(144deg, rgba(24,24,32,1) 24%, rgba(29,29,36,1) 37%, rgba(51,52,55,0.9150035014005602) 100%, rgba(111,111,125,1) 100%, rgba(203,208,209,1) 100%);
    max-width: 40vw;
    max-height: 30vw;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

form#register-form, form#login-form, form#edit-form, 
form.edit-specific-field {
    position: relative;
    background: rgb(24,24,32);
    background: linear-gradient(144deg, rgba(24,24,32,1) 24%, rgba(29,29,36,1) 37%, rgba(51,52,55,0.9150035014005602) 100%, rgba(111,111,125,1) 100%, rgba(203,208,209,1) 100%);
    max-width: 40vw;
    max-height: 30vw;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

form.edit-specific-field label {
    align-items: flex-start !important;
}

form#edit-form fieldset, form.edit-specific-field fieldset {
    display: flex;
    justify-content: space-around;
    border: none;
}

form#edit-form fieldset a {
    color: #ccc;
    font-weight: bold;
    justify-self: flex-end;
    text-decoration-line: underline;
}

form#edit-form fieldset + fieldset, 
form.edit-specific-field fieldset + fieldset {
    margin-top: 1em;
}

form#register-form input, form#login-form input, form#edit-form input,
form.edit-specific-field input {
    background: none;
    border: none;
    border-bottom: 2px solid #048a8c;
    color: #fff;
    outline: none;
    font-size: 1em;
}

form#register-form input + input, form#login-form input + input,
form#edit-form input + input {
    margin-top: 1em;
    min-width: 10vw;
}

form#register-form :nth-last-child(2) {
    color: #aaa;
    margin-top: 1em;
}

form#register-form button[type=submit], form#login-form button[type=submit],
form#edit-form button[type=submit], div#confirm-message button[type=submit],
form.edit-specific-field button[type=submit] {
    background-color: #211f1f;
    border: 1px solid #048a8c;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    min-width: 15vw;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #aaa;
    font-weight: bold;
    font-size: 16px;
}

form#register-form button#close-register-form, form#login-form button#close-login-form,
div.myaccount-info button#close-account-info, form#edit-form button#close-edit-form, 
div#confirm-message button#close-delete-form, form.edit-specific-field button[type=button] 
{
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #048a8c;
    align-self: flex-end;
    margin-right: 0.4em;
}

button#close-register-form:hover, button#close-login-form:hover, 
button#close-account-info:hover, button#close-edit-form:hover,
button#close-delete-form:hover, form.edit-specific-field button[type=button]:hover {
    cursor: pointer;
    transform: scale(1.2);
}

form#register-form button[type=submit]:hover, form#edit-form button[type=submit], 
div#confirm-message button[type=submit], form.edit-specific-field button[type=submit] {
    cursor: pointer;
}

div.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img#logo-presentation {
    margin-top: 5vw;
    margin-bottom: 2vw;
}

div#container-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container-search button {
    max-width: 250px;
    max-height: 6vw;
    position: sticky;
    top: 0;
}

div#container-search img {
    max-width: 220px;
    max-height: 5.5vw;
}

div#container-search button {
    border-radius: 5px 5px 5px 5px;
}

input#search-box-main {
    width: 60vw;
    height: 6vw;
    font-size: 24px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    text-indent: 15px;
    position: sticky;
    top: 0;
}

input#search-box-main:focus {
    outline: none;
}

div.movies-gallery {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10vw;
}

div.movies-gallery header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,.1);
}

div.movies-categories ul {
    background: rgba(0,0,0,.1);
}

div.movies-categories ul li {
    display: inline-block;
    padding: 20px;
}

div.movies-categories a {
    text-decoration: none;
}

div.movies-categories a:hover {
    color: #aaa;
}

div.movies-categories a, div.movies-categories li {
    color: #fff;
    text-transform: uppercase;
}

div.movies-categories ul li > i {
    margin-right: 20px;
}

div.arrow-buttons {
    margin-right: 5px;
}

div.arrow-buttons button {
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #fff;
    background: #000;
}

div.arrow-buttons button:hover {
    background: #fff;
    color: #000;
}

div.movies-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 3500px;
}

div.movies-list ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #FFF;
}

div.movies-list ul li:hover {
    cursor: pointer;
}

div.movies-list ul li + li {
    margin-left: 10px;
}

div.movies-list ul li img {
    width: 160px;
    height: 230px;
}

div.movies-list ul li figcaption {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    background:rgba(71, 71, 71, 0.267);
}

div.movies-list img#vote-icon {
    max-height: 20px;
    max-width: 30px;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.footer #main-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(180, 180, 180, 0.6);
}

div.footer #main-footer a {
    color: #000;
    text-decoration: underline;
}

div.disable-container {
    display: none !important;
}

@media only screen and (max-width: 950px) {
    div.user-profile {
        top: 11.6vw;
        right: 4vw;
    }
}

@media only screen and (max-width: 800px) {
    img#logo-presentation {
        max-width: 400px;
    }
    
    i#btn-open-sidenav {
        display: block;
    }

    div.signup-login-buttons {
        position: relative;
        margin-right: 0;
        text-align: center;
    }

    div.signup-login-buttons li + li {
        margin-top: 1vw;
    }

    input#search-box-main {
        font-size: 12px;
    }

    div.movies-list ul li {
        font-size: 0.8rem;
    }

    div.header #search-box {
        font-size: 1.2em;
    }

    div.header button#button-search {
        top: 3.5vw;
        right: 9vw;
    }

    div.header #lupa-icon {
        margin-left: 0.5em;
        max-width: 30px !important;
        max-height: 30px !important;
    }

    div.movies-list ul li img {
        width: 150px;
        height: 200px;
    }

    div.header nav li {
        font-size: 1em;
    }

    div.account-info {
        display: none !important;
    }

    div.account-info-mobile {
        display: flex !important;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    div.user-profile {
        position: relative;
        background-color: transparent;
    }

    div.user-profile a {
        color: #fff;
        font-weight: bold;
    }

    div.account-info i {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    div.account-info p {
        text-align: center;
    }

    div.user-profile-mobile {
        display: flex;
        top: 0;
        right: 0;
    }

    div.myaccount-info, div#confirm-message {
        max-width: 55vw;
        max-height: 60vw;
        padding: 10px;
    }

    form#register-form, form#login-form, 
    form#edit-form, form.edit-specific-field {
        max-width: 55vw;
        max-height: 60vw;
    }

}

@media only screen and (max-width: 600px) {
    form#register-form, form#login-form, 
    form#edit-form, form.edit-specific-field {
        max-width: 60vw;
        max-height: 85vw;
    }

    div.myaccount-info, div#confirm-message {
        max-width: 50vw;
        max-height: 40vw;
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    img#logo-presentation {
        max-width: 300px;
    }

    div.header nav li {
        font-size: 0.8em;
    }

    div.movies-categories ul li {
        display: flex;
        padding: 10px;
    }
    
    div.arrow-buttons {
        display: flex;
        margin-right: 10px;
        justify-content: flex-end;
    }

    form#register-form, form#login-form, 
    form#edit-form, form.edit-specific-field {
        max-width: 100%;
        max-height: 100%;
    }

    div.myaccount-info, div#confirm-message {
        max-width: 100%;
        max-height: 100%;
    }

}

@media only screen and (max-width: 320px) {
    img#logo-presentation {
        max-width: 250px;
    }
    
}